@import 'tailwindcss';

@theme {
	--animate-infinite-scroll-normal: infinite-scroll 20s linear infinite;
	--animate-infinite-scroll-slow: infinite-scroll 50s linear infinite;

	@keyframes infinite-scroll {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(calc(-50% - 20px));
		}
	}
}
